@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*
font-family: 'Open Sans', sans-serif;
*/
:root {
  --dark-grey: #2b2d42;
  --light-grey: #8d99ae;
  --off-white: #edf2f4;
  --light-red: #ef233c;
  --dark-red: #d90429;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  grid-template-rows: 10vh 1fr 10vh;
  background-color: var(--off-white);
  font-family: "Open Sans", sans-serif;
}

main {
  grid-template-columns: 1fr 1fr;
}

header {
  background-color: var(--dark-grey);
  color: var(--off-white);
  font-size: 1.5rem;
}

section {
  margin: 0.5rem;
  background-color: var(--dark-red);
}

ul {
  margin: 2rem;
  color: var(--off-white);
}

li {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

input {
  font-size: 1.5rem;
  margin: 0.5rem 0.5rem;
  outline: none;
  background: transparent;
  color: var(--off-white);
  border: 0;
  border-bottom: 3px solid var(--off-white);
}

button {
  background: transparent;
  font-size: 1.5rem;
  border-color: var(--dark-grey);
  border: 0;
  color: var(--off-white);
  outline: none;
  cursor: pointer;
}

.border {
  border: 2px solid black;
  border-radius: 50px;
}

.grid {
  display: grid;
}

.auto-column {
  grid-auto-flow: column;
}

.auto-rows {
  grid-auto-flow: row;
}

.center {
  place-items: center;
}

@media (min-width: 600px) {
}
